<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/style2.css">
    <title>dhskc</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
      <div class="container center">
        <div class="container text-center center">
           <form class="form-signin" action="https://dishdashaexpress.com/user/profile" method="POST">
              <h2 class="form-signin-heading">User Details</h2>
              <br>
              <input placeholder="First Name" type="text" name="first_name" value="<%= user.name.givenName %>" disabled><br><br>
              <input placeholder="Last Name" type="text" name="last_name" value="<%= user.name.familyName %>" disabled><br><br>
              <input placeholder="Email" type="text" name="email" value="<%= user.emails[0].value %>" disabled/><br><br>
              <input placeholder="Phone Number" type="text" name="phone" value=""><br><br>
              <textarea name="address" class="form-control" placeholder="Address"></textarea><br>
              <button class="btn btn-lg btn-primary btn-block btn-center button" type="submit"  >Submit</button>
              <br>
           </form>
        </div>
     </div>
     <%- include('./partials/footer.ejs') %>
</body>
</html>